
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Users</h3>
<div ng-controller="homeController">
  <table class="table table-bordered">
      <tr ng-repeat="user in usersModel">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
      </tr>
  </table>
</div>