
@{Layout = "~/Views/Shared/_Layout.cshtml";}

<h3>Users</h3>
<div ng-controller="homeController">

  <table class="table table-striped">
      <tr ng-repeat="user in users">
          <td>{{user.name}}</td>
      </tr>
  </table>
</div>