
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div id="login-overlay" class="modal-dialog" style="position:static" ng-controller="loginController">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Login</h4> 
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-6">
                    <div class="well">
                        <form name="loginForm" ng-submit="sendForm()">
                            <div class="form-group">
                                <label for="email" class="control-label">Email</label>
                                <input type="text" ng-model="user.email" class="form-control" required="" title="Please enter you username" placeholder="example@gmail.com">
                                <span class="help-block"></span>
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label">Password</label>
                                <input type="password" ng-model="user.password" class="form-control" required="" title="Please enter your password">
                                <span class="help-block"></span>
                            </div>
                            <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="remember" id="remember"> Remember login
                                </label>
                                <p class="help-block">(if this is a private computer)</p>
                            </div>
                            <button type="submit" class="btn btn-success btn-block">Login</button>
                            <a href="#" class="btn btn-default btn-block">Help to login</a>
                        </form>
                    </div>
                </div>
                <div class="col-xs-6" style="border-left:1px solid #acabab">
                    <p class="lead">Need to Register <span class="text-success">?</span></p>
                    <ul class="list-unstyled" style="line-height: 2">
                        <li><span class="fa fa-check text-success"></span> Get your handicap!</li>
                        <li><span class="fa fa-check text-success"></span> Keep track of scores</li>
                        <li><span class="fa fa-check text-success"></span> Be a Badass!</li>
                        <li><span class="fa fa-check text-success"></span> Do hoodrat things with yo friends!</li>

                        <li><a href="/read-more/"><u>More Details</u></a></li>
                    </ul>
                    <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#registerModal">Register</button>
                </div>
                          
                    </div>
                </div>
            </div>
        </div>

    <div id="registerModal" class="modal fade" role="dialog" ng-controller="registerController">
        <div class="modal-dialog"style="position:static">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Register</h4>
                </div>

                <form class="form-horizontal" name="registerForm" ng-submit="sendForm()">
                    <div class="modal-body">
                                <!-- email -->
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="email">Email:</label>
                                    <input type="email" ng-model="registerUser.email" class="form-control" required="" title="Type in your Email" placeholder="example@gmail.com">
                                </div>               
                                <!-- fname -->
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="fname">First Name:</label>
                                    <input type="text" ng-model="registerUser.fname" class="form-control" required="" title="Type in your First Name" placeholder="First Name">
                                </div>
                                <!-- lname -->
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="lname">Last Name::</label>
                                    <input type="text" ng-model="registerUser.lname" class="form-control" required="" title="Type in your last name" placeholder="Last Name">
                                </div>
                                <!-- username -->
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="username">User Name:</label>
                                    <input type="text" ng-model="registerUser.username" class="form-control" required="" title="Type in your User Name" placeholder="User Name">
                                </div>
                                 <!-- password -->
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="password">Password:</label>
                                    <input type="password" ng-model="registerUser.password" class="form-control" required="" title="Create a password" placeholder="Password">
                                </div>
                                         <button type="submit" class="btn btn-info btn-block">Register</button>
                    </div>
                 </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
         </div>

     </div>
   
