
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    if (Session["id"] == null)
    {

        Html.RenderAction("Error");
    }

    else
    { 


<center>
    <h2><b>Dashboard</b></h2>
</center>


    <div class="container" ng-controller="dashboardController" ng-init="getMasterData()">


        <div class="col-md-4">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <h2>@Session["fname"] @Session["lname"]</h2>
                            <p><strong>About: </strong> Golfer </p>
                            <p><strong>Quote: </strong> Ballin outta control' </p>
                            <p>
                                <strong>Handicap: </strong>
                                <span class="label label-success tags">{{handicap}}</span>

                            </p>
                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-4 text-center">
                            <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="" class="center-block img-circle img-responsive" style="padding-bottom:5px;">
                            <ul class="list-inline ratings text-center" title="Ratings">
                              
                                <li>
                                    <form name="picUploadForm" ng-submit="sendPic()">
                                        <input type="file" name="file" id="file" class="inputfile" />
                                        <label for="file" class="btn btn-group-sm btn-success">@Session["username"]</label>
                                        @*<button type="submit" class="btn btn-success" ng-hide="bool">Save</button>*@
                                    </form>
                                </li>

                            </ul>
                        </div><!--/col-->


                    </div><!--/row-->
                </div><!--/panel-body-->

            </div><!--/panel-->
            <div class="panel panel-default panel-success">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            Show homies here? Their latest scores or someshit
                        </div><!--/col-->


                    </div><!--/row-->
                </div><!--/panel-body-->

            </div>


            <div class="panel panel-primary">
                <div class="panel-heading">
                    Stats
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                         Stats or Someshit here , Maybe a Graph of handicap (Up or Down)
                        </div><!--/col-->


                    </div><!--/row-->
                </div><!--/panel-body-->

            </div>
            </div>


<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-body">
        <div class="row">
            <table class="table table-responsive table-hover"style="display: block; border-bottom:2px groove #3c3c3c; max-height: 433px; overflow-y: scroll">

                <thead >
                    <tr style="font-size:20px;">
                        <th>Course</th>
                        <th>Score</th>
                        <th>Date</th>
                        <th>Last 10:</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="score in scoresModel">
                        <td>
                            <div ng-hide="editScoresData[score.id]">{{score.coursename}}</div>
                            <div ng-show="editScoresData[score.id]">{{score.coursename}}</div>

                        </td>
                        <td>
                            <div ng-hide="editScoresData[score.id]" style="color:#1c9750"><b>{{score.score}}</b></div>
                            <div ng-show="editScoresData[score.id]"><input type="text" class="form-control" ng-model="score.score" style="width:50px;" /></div>
                        </td>
                        <td>
                            <div ng-hide="editScoresData[score.id]">{{score.dateplayed}}</div>
                            <div ng-show="editScoresData[score.id]">{{score.dateplayed}}</div>
                        </td>

                        <td class="text-center">
                            <button class="btn btn-info form-control" ng-hide="editScoresData[score.id]" ng-click="editScore(score)"><span class="glyphicon glyphicon-edit"></span> Edit Score</button>
                            <button class="btn btn-info form-control" ng-show="editScoresData[score.id]" ng-click="update(score)"><span class="glyphicon glyphicon-edit"></span> Update</button>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-primary btn-block" ng-click="deleteScore(score.id,score.courseid,score.dateplayed,score.score)"><span class="glyphicon glyphicon-remove"></span>  Delete</button>
                        </td>

                    </tr>
                </tbody>



</table>
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong> - </strong></h2>
                            <p><small>Something</small></p>
                            <button class="btn btn-success btn-block" data-toggle="modal" data-target="#newScoreModal"><span class="fa fa-plus-circle"></span> Add Score </button>
                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>-</strong></h2>
                            <p><small>Something</small></p>
                            <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View All Scores </button>
                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>-</strong></h2>
                            <p><small>Something</small></p>
                            <button type="button" class="btn btn-primary btn-block"><span class="fa fa-gear"></span> Click </button>
                        </div><!--/col-->
            </div>
        </div>
    </div>
 </div>




                    <div id="newScoreModal" class="modal fade" role="dialog">
                        <div class="modal-dialog" style="position:static">

                            <!--New Score Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add Score:</h4>
                                </div>
                                <!--Start form-->
                                <form class="form-horizontal" name="newScoreForm" ng-submit="sendForm()">
                                    <div class="modal-body">
                                        <!-- Course -->
                                        <div class="form-group">

                                            <label class="col-sm-4 control-label" for="coursesModel">Course:</label>
                                            <select class="form-control" required ng-model="newScore.courseid">
                                                <option></option>
                                                <option ng-repeat="course in coursesModel" value="{{course.id}}">{{course.coursename}}</option>
                                            </select>

                                        </div>

                                        <!-- Score -->
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" for="score">Score:</label>
                                            <input type="number" ng-model="newScore.score" class="form-control" required="" title="Type in your First Name" placeholder="What'd you shoot?'">
                                        </div>

                                        <!-- Date Played -->
                                        <div class="form-group" ng-controller="datepickerController">
                                            <label class="col-sm-4 control-label" for="dateplayed">Date Played:</label>


                                            <input type="text" class="form-control"
                                                   uib-datepicker-popup="{{format}}"
                                                   ng-model="newScore.dateplayed"
                                                   is-open="opened"
                                                   placeholder="Choose a Date!"
                                                   uib-datepicker-options="dateOptions"
                                                   ng-required="true"
                                                   close-text="Close"
                                                   id="date-picker"
                                                   ng-click="open($event)" />
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-info btn-block">Add</button>
                                </form>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>




    }
 }
