
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <h2><b>Dashboard</b></h2>
</center>


<div class="container">
    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <h2>@Session["fname"] @Session["lname"]</h2>
                            <p><strong>About: </strong> Golfer </p>
                            <p><strong>Quote: </strong> Ballin outta control' </p>
                            <p>
                                <strong>Handicap: </strong>
                                <span class="label label-success tags">13</span>
                               
                            </p>
                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-4 text-center">
                            <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="" class="center-block img-circle img-responsive">
                            <ul class="list-inline ratings text-center" title="Ratings">
                                <li><a href="#">@Session["username"]</a></li>
                                
                            </ul>
                        </div><!--/col-->

                        <div class="col-xs-12 col-sm-4">
                            <h2><strong> - </strong></h2>
                            <p><small>Something</small></p>
                            <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Click </button>
                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>-</strong></h2>
                            <p><small>Something</small></p>
                            <button class="btn btn-info btn-block"><span class="fa fa-user"></span> Click </button>
                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>-</strong></h2>
                            <p><small>Something</small></p>
                            <button type="button" class="btn btn-primary btn-block"><span class="fa fa-gear"></span> Click </button>
                        </div><!--/col-->
                    </div><!--/row-->
                </div><!--/panel-body-->
            </div><!--/panel-->



        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div ng-controller="scoresController">
                          
                            <table class="table table-condensed table-hover">

                                
                                <tr ng-repeat="score in scoresModel">
                                    <td>{{score.coursename}}</td>
                                    <td><b>{{score.score}}</b></td>
                                    <td>{{score.dateplayed | date: 'yyyy-MM-dd HH:mm'}}</td>
                                    <td></td>
                                </tr>
                            </table>



                        </div>
                </div>

            </div>
            </div>
        </div>
    </div>

