
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <h2><b>Dashboard</b></h2>
</center>


<div class="container">
    <div class="row">
        <div class="col-md-6">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <h2>@Session["fname"] @Session["lname"]</h2>
                            <p><strong>About: </strong> Golfer </p>
                            <p><strong>Quote: </strong> Ballin outta control' </p>
                            <p>
                                <strong>Handicap: </strong>
                                <span class="label label-success tags">13</span>
                               
                            </p>
                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-4 text-center">
                            <img src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="" class="center-block img-circle img-responsive">
                            <ul class="list-inline ratings text-center" title="Ratings">
                                <li><a href="#">@Session["username"]</a></li>
                                
                            </ul>
                        </div><!--/col-->

                        <div class="col-xs-12 col-sm-4">
                            <h2><strong> - </strong></h2>
                            <p><small>Something</small></p>
                            <button class="btn btn-success btn-block" data-toggle="modal" data-target="#newScoreModal"><span class="fa fa-plus-circle"></span> Click </button>
                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>-</strong></h2>
                            <p><small>Something</small></p>
                            <button class="btn btn-info btn-block"><span class="fa fa-user"></span> Click </button>
                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>-</strong></h2>
                            <p><small>Something</small></p>
                            <button type="button" class="btn btn-primary btn-block"><span class="fa fa-gear"></span> Click </button>
                        </div><!--/col-->
                    </div><!--/row-->
                </div><!--/panel-body-->
            </div><!--/panel-->



        </div>
        <div class="col-md-6" ng-controller="dashboardController">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">                          
                                <table class="table table-striped table-hover">

                                    <thead></thead>
                                    <tr>
                                        <th>Course</th>
                                        <th>Score</th>
                                        <th>Date</th>
                                    </tr>
                                    <tbody>
                                        <tr ng-repeat="score in scoresModel">
                                            <td>{{score.coursename}}</td>
                                            <td><b>{{score.score}}</b></td>
                                            <td>{{score.dateplayed}}</td>


                                        </tr>
                                    </tbody>
                                </table>
                             </div>
                       </div>
                  </div>
                </div>
            </div>
    <div id="newScoreModal" class="modal fade" role="dialog">
        <div class="modal-dialog" style="position:static">

            <!--New Score Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Score:</h4>
                </div>
                <!--Start form-->
                <form class="form-horizontal" name="newScoreForm" ng-controller="scoresController" ng-submit="addNewScore()">
                    <div class="modal-body">
                        <!-- Course -->
                        <div class="form-group" ng-controller="coursesController">
                            
                                <label class="col-sm-4 control-label" for="course">Course:</label>
                                <select class="form-control" ng-model="newScore.courseid" ng-options="course.id as course.coursename for course in coursesModel"> </select>
                          
                        </div>

                        <!-- Score -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="score">Score:</label>
                            <input type="number" ng-model="newScore.score" class="form-control" required="" title="Type in your First Name" placeholder="What'd you shoot?'">
                        </div>

                        <!-- Date Played -->
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="dateplayed">Date Played:</label>
                            <input type="date" ng-model="newScore.dateplayed" class="form-control" required="" title="Type in your last name" placeholder="When you play?">
                        </div>

                        <button type="submit" class="btn btn-info btn-block">Add</button>

                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>



        </div>
   
